html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    cursor: default;
    background-image: url(https://static.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg);
    background-size: auto;
}

.titlebar {
    -webkit-app-region: drag;

    width: 100%;
    height: 50px;
    background-color: purple;
    color: white;

    text-align: center;
    font-family: arial;
    font-size: 20px;

    position: relative;
    top:0;
    left: 0;

    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
.appbody {
    position: relative;
    top:0;
    left: 0;

    height: calc(100% - 50px);
    width: 100%;

    margin: 0;
    padding: 5px;
    box-sizing: border-box;

    background-color: #ccc;
}
.container{

margin-left:600px; 
margin-top: 200px;

}
.cont{

margin-left: 600px;

}


